#allatgondozo h3 {
  padding: 5%;
  text-align: center;
}

#allatgondozo p {
  font-size: 1rem;
}

#allatgondozo img {
  border-radius: 10%;
}

.table {
    margin-top: 20px;
}

.table th, .table td {
    vertical-align: middle;
}

#allatgondozo .btn1 {
  text-decoration: none;
}